.thumbNail {
    align-content: center;
    justify-content: center;
    max-height: 200px;
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
    
}

.book-image {
width: 5%;
height: 5%;

}